click==8.0.1
colorama==0.4.4
fancycompleter==0.9.1
Flask==2.0.1
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.15.1
greenlet==1.1.1
gunicorn==20.0.4
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
mysql-connector-python==8.0.26
mysqlclient==2.0.3
pdbpp==0.10.3
pdp==0.3.0
protobuf==3.17.3
Pygments==2.9.0
pyreadline==2.1
pyrepl==0.9.0
six==1.16.0
SQLAlchemy==1.4.22
Werkzeug==2.0.1
wmctrl==0.4
WTForms==2.3.3
